
{%- assign card_badge_position = settings.card_badge_position  -%}
{%- assign show_sold_out_badge = settings.card_show_sold_out_badge -%}
{%- assign show_discount_badge = settings.card_show_discount_badge -%}
{%- assign show_discount_badge_marquee = settings.show_discount_badge_marquee -%}
{%- case card_sale_badge_type -%}
  {%- when 'percentage' -%}
    {%- assign discount_value = card_product.compare_at_price | minus: card_product.price | times: 100.0 | divided_by: card_product.compare_at_price | round | append: '%' -%}
  {%- when 'fixed' -%}
    {%- assign discount_value = card_product.compare_at_price | minus: card_product.price | money -%}
{%- endcase -%}

<div class="card__badge {{ card_badge_position }}">
    {%- if card_product.available == false and show_sold_out_badge -%}
        <span class="badge price__badge-sold-out" >
        {{- 'products.product.sold_out' | t -}}
        </span>
    {%- elsif card_product.compare_at_price > card_product.price and card_product.available  and show_discount_badge -%}
        <span class="badge price__badge-sale" >
            {%- if card_sale_badge_type == 'text' -%}
             {{- 'products.product.on_sale' | t -}}
            {%- else -%}
                {{- 'products.product.save_html' | t: save_amount: discount_value -}}
            {%- endif -%}
        </span>
    {%- endif -%}
</div>
{% if card_product.compare_at_price > card_product.price and card_product.available  and show_discount_badge_marquee %}
    <div class="card__badge-marquee whitespace-nowrap overflow-hidden flex items-center justify-start py-3">
        {% for i in (1..15) %}
            <span class="card__badge-marquee-item inline-flex whitespace-nowrap px-4">
                {%- if card_sale_badge_type == 'text' -%}
                    {{- 'products.product.on_sale' | t -}}
                {%- else -%}
                    {{- 'products.product.save_html' | t: save_amount: discount_value -}}
                {%- endif -%}
            </span>
        {% endfor %}
    </div>
{% endif %}
