{% liquid
    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
    assign uses_comma_decimals = false
    if currencies_using_comma_decimals contains cart.currency.iso_code
      assign uses_comma_decimals = true
    endif

    if uses_comma_decimals
      assign from_value = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
      assign to_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
      assign max = filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.'
    else
      assign from_value = filter.min_value.value | money_without_currency | replace: ',', ''
      assign to_value = filter.max_value.value | money_without_currency | replace: ',', ''
      assign max = filter.range_max | money_without_currency | replace: ',', ''
    endif
    assign to_value = to_value | default: max
  %}
<div class="price-slider mb-8 pl-4 pr-4">
  <div class="price-slider-range" 
  data-min="0" 
  data-max="{{ max }}"
  data-min-value="{{ from_value }}"
  data-max-value="{{ to_value }}"
  ></div>
</div>
<div class="flex flex-row gap-x-6 input-price">
  <div class="relative basis-3/6">
  <span class="field-currency">{{ cart.currency.symbol }}</span>
  <div class="field">
    <input
      class="field__input field__input_min"
      name="{{ filter.min_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
      {%- if filter.min_value.value -%}
        value="{{ from_value }}"
      {%- endif -%}
      type="text"
      inputmode="decimal"
      placeholder="0"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ max }}"
    >
    <label class="field__label sr-only" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
      {{- 'products.facets.from' | t -}}
    </label>
  </div>
</div>
<div class="relative basis-3/6">
    <span class="field-currency">{{ cart.currency.symbol }}</span>

  <div class="field">
    <input
      class="field__input field__input_max"
      name="{{ filter.max_value.param_name }}"
      id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
      {%- if filter.max_value.value -%}
        value="{{ to_value }}"
      {%- endif -%}
      type="text"
      inputmode="decimal"
      placeholder="{{ filter.range_max | money_without_currency }}"
      data-pattern="\d| |,|\."
      data-min="0"
      data-max="{{ max }}"
    >
    <label class="field__label sr-only" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
      {{- 'products.facets.to' | t -}}
    </label>
  </div>
  </div>
</div>
