{%- if block.settings.products != blank -%}
  <script src="{{ 'upsell-add-on.js' | asset_url }}" defer></script>

    {% liquid
      assign current_product_id = product.id
      assign list_products = block.settings.products
    %}
    <div class="product__upsell-add-on product__info-inner border py-8 px-8 flex flex-col items-start" {{ block.shopify_attributes }}>
      {% if  block.settings.heading != blank %}
      <div class="upsell-add-on-heading h6 mb-8 inline-block">{{  block.settings.heading }}</div>
      {% endif %}
      <upsell-add-on class="grid w-full gap-8" data-section-id="{{ section.id }}" >
        {%- for card_product in list_products -%}
          {%- if card_product.id != current_product_id -%}
            <div class="option-item" data-product-id="{{ card_product.id }}" >
              <label class="option-label flex w-full custom-checkbox">
                <input 
                  type="checkbox" 
                  name="upsell_{{ card_product.id }}" 
                  value="{{ card_product.id }}" 
                  class="option-checkbox sr-only custom-checkbox__input"
                  data-product-id="{{ card_product.id }}"
                >
                <span class="option-checkbox-checkbox custom-checkbox__icon">
                </span>
                <div class="option-text flex gap-6 items-start flex-row flex-1">
                  <div class="option-image ">
                    {%- if card_product.media.size > 0 -%}
                      {% assign widths = '90,180' %}
                      {% assign height = 90 | divided_by: item.image.aspect_ratio | ceil %}
                      {% render 'responsive-image' ,
                          image: card_product.featured_media,
                          widths: widths,
                          image_aspect_ratio: image_aspect_ratio,
                          sizes: '90px', 
                          width: '90',
                          height:height,
                          class:'variant-image'
                      %}
                      <script type="application/json" class="variant-images-json">
                        {
                          {%- for variant in card_product.variants -%}
                            {%- if variant.featured_image -%}
                              "{{ variant.id }}": {
                                "url": "{{ variant.featured_image | image_url: width: 90 }}",
                                "alt": "{{ variant.featured_image.alt | escape }}"
                              }
                              {%- unless forloop.last -%},{%- endunless -%}
                            {%- endif -%}
                          {%- endfor -%}
                        }
                      </script>
                  {%- else -%}
                      {%- render 'placeholder-image' , product_placeholder : 'product-1', image_aspect_ratio: image_aspect_ratio -%}
                  {%- endif -%}
                  </div>
                  <div class="option-text-inner flex flex-col flex-1">
                    <a href="{{ card_product.url }}" class="option-title card__heading mb-1">
                      {{ card_product.title | escape }} 
                    </a>
                    <div class="option-price-wrapper flex gap-2 flex-col items-start">
                      <span class="option-price{% if card_product.compare_at_price > card_product.price %}price--on-sale{% endif %}" data-product-price="{{ card_product.price }}" data-product-compare-price="{{ card_product.compare_at_price }}">
                        {%- if card_product.compare_at_price > card_product.price -%}
                          <span class="price-current price-item price-item--sale price-item--last">{{ card_product.price | money }}</span>
                          <s class="price-compare price--on-sale price-item--regular">{{ card_product.compare_at_price | money }}</s>
                        {%- else -%}
                          <span class="price-current price-item price-item--regular">{{ card_product.price | money }}</span>
                        {%- endif -%}
                      </span>
                      {%- unless card_product.has_only_default_variant -%}
                        <div class="variant-select-wrapper">
                          <div class="select">
                            <select 
                              id="Variant-{{ card_product.id }}"
                              class="select__select variant-select"
                              data-product-id="{{ card_product.id }}"
                              name="variant_id_{{ card_product.id }}"
                            >
                              {%- for variant in card_product.variants -%}
                                <option 
                                  value="{{ variant.id }}"
                                  data-price="{{ variant.price }}"
                                  data-compare-price="{{ variant.compare_at_price }}"
                                  data-available="{{ variant.available }}"
                                  {% if forloop.first %}selected{% endif %}
                                  {% unless variant.available %}disabled{% endunless %}
                                >
                                  {{ variant.title }}
                                  {% if variant.available %} - {{ variant.price | money }}{% endif %}
                                  {% unless variant.available %} - {{ 'products.product.sold_out' | t }}{% endunless %}
                                </option>
                              {%- endfor -%}
                            </select>
                            {% render 'icon-caret' %}
                          </div>
                        </div>
                      {%- else -%}
                        <input 
                          type="hidden" 
                          class="selected-variant-id" 
                          name="variant_id_{{ card_product.id }}"
                          value="{{ card_product.first_available_variant.id }}"
                        >
                      {%- endunless -%}
                    </div>
                  </div>
                  
                  
                </div>
              </label>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </upsell-add-on>
    </div>
  {%- endif -%}
