<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.settings.body_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% else %}
      <meta name="description" content="{{ shop.description | escape }}">
    {% endif %}

    {% render 'preload' %}
    {% render 'meta-tags' %}
    
    {{ content_for_header }}

    {% render 'css-variables' %}
    {{ 'rdc_custom-fonts.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'rdc_header_tweak.css' | asset_url | stylesheet_tag }}
    
    {% render 'scripts-tag' %} 
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'" >
    {%- endif -%}

  </head>

  <body class="template-{{ template | replace: '.', '-' | handle }} type-anim-{{ settings.animations_style }}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    {%- if settings.show_page_transition and request.design_mode == false -%}
      {% if settings.page_transition_type == 'loading' %}
        <div class="loading-screen">
          <div class="loading-bar"></div>
      </div> 
      {% else %}
      <page-transition id="page-transition" class="active" duration="350"></page-transition>
      {% endif  %}  
    {%- endif-%}
    {%- if settings.cart_type == 'drawer' and template != 'cart' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}
    {%- render 'block-search' -%}
    
    {%- sections 'header-group' -%}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {%- sections 'footer-group' -%}
    {%- sections 'overlay-group' -%}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
    
    {% render 'js-variables' %}
    {% render 'product-quick-view' %}
    {% if settings.show_scroll_to_top %}
      {% render 'scroll-to-top' %}
    {% endif %}
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.show_free_shipping_bar -%}
      <link rel="stylesheet" href="{{ 'free-shipping.css' | asset_url }}" media="print" onload="this.media='all'">
      <script src="{{ 'free-shipping.js' | asset_url }}" defer="defer"></script> 
    {%- endif -%}
    {%- if settings.show_discount_code -%}
      <script src="{{ 'cart-discount.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.show_page_transition and request.design_mode == false -%}
      {% if settings.page_transition_type == 'loading' %}
        <script src="{{ 'page-transition-loading.js' | asset_url }}" defer="defer"></script> 
      {% else %}
      <script src="{{ 'page-transition.js' | asset_url }}" defer="defer"></script> 
      {% endif %}
   {%- endif -%}
  <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
  </body>
</html>
