

{%- if settings.card_show_quick_buy -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- liquid
  assign section_width = section.settings.section_width
  assign widths = '200,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400'
  assign column_gap = section.settings.column_gap | append: 'rem'
  assign column_gap_mobile = section.settings.column_gap_mobile | append: 'rem'
-%}
{%- capture scroll_animation -%}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{%- endcapture -%}
<div class="isolate section-products-with-banner section-padding section-bg relative" {% render 'section-properties' %}>
  <div class="{{ section.settings.section_width }}">
    {% render 'section-header', layout_header: section.settings.layout, subheading: section.settings.subheading, heading: section.settings.heading, description: section.settings.description, link_text: section.settings.link_text, button_style: section.settings.button_type, button_url: section.settings.link_url, show_icon : section.settings.show_icon, class:"header-products-with-banner", heading_size: section.settings.heading_size_section, heading_tag: section.settings.heading_tag %}
    <div class="products-with-banner-wrapper grid grid-cols-1 md:grid-cols-2 orgap-desk orgap-mobile" style="--column-gap:{{ column_gap }};--column-gap-mobile:{{ column_gap_mobile }};">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'image' -%}
            {%- liquid
              assign image = block.settings.image
              assign media_size = block.settings.media_size
              assign use_video = block.settings.use_video
              assign video_hosted = block.settings.video_hosted
              assign desktop_content_position = block.settings.desktop_content_position
              assign text_color = block.settings.text_color
            -%}
            {%- capture align_content -%}
              {%- case desktop_content_position -%}
                {%- when 'top-left' -%} items-start justify-start text-left
                {%- when 'top-center' -%} items-start justify-center text-center
                {%- when 'top-right' -%} items-start justify-end text-right
                {%- when 'middle-left' -%} items-center justify-start text-left
                {%- when 'middle-center' -%} items-center justify-center text-center
                {%- when 'middle-right' -%} items-center justify-end text-right
                {%- when 'bottom-left' -%} items-end justify-start text-left
                {%- when 'bottom-center' -%} items-end justify-center text-center
                {%- when 'bottom-right' -%} items-end justify-end text-right
                {%- else -%} items-center justify-center text-center
              {%- endcase -%}
            {% endcapture %}
            {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank  -%}
              {%- capture style -%}--color-foreground: {{ text_color.rgb }};--color-heading: {{ text_color.rgb }};{%- endcapture -%}
            {%- endunless -%}
            {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 110 | divided_by: 2 }}px,calc(100vw - 48px){%- endcapture -%}
            <div class="products-with-banner__image md:order-none -order-1" {{ block.shopify_attributes }}>
              <div class="products-with-banner__item top-header md:sticky {{ scroll_animation }}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};"{% endif %}>
                <div class="products-with-banner__content relative overflow-hidden" style="{{ style }}">
                  {%- if use_video -%}
                    {%- liquid
                        assign media_aspect_ratio = media_size
                        case  media_aspect_ratio
                          when 'adapt'
                            assign aspect_ratio = media_size
                          when 'square'
                            assign aspect_ratio = 1
                          when 'portrait'
                            assign aspect_ratio = 2.0 | divided_by: 2.5
                          when 'landscape'
                            assign aspect_ratio = 4.0 | divided_by: 3.0
                          when 'landscape-v2'
                            assign aspect_ratio = 5.0 | divided_by: 3.5
                          when 'wide'
                            assign aspect_ratio = 16.0 | divided_by: 9.0
                          else
                            assign aspect_ratio = media_size
                        endcase
                        assign aspect_ratio_percent = 1 | divided_by: aspect_ratio | times: 100 | append: '%'
                    -%}
                    {%- if video_hosted != blank -%}
                      {% if media_aspect_ratio == 'adapt' %}
                        {%- assign aspect_ratio_percent = 1 | divided_by: video_hosted.aspect_ratio | times: 100 | append: '%'-%}
                      {% endif %}
                      <div class="products-with-banner__item-video media-video" style="--aspect-ratio:{{ aspect_ratio_percent }}">
                      <viewport-media > 
                        <template>
                          {{ video_hosted | video_tag: autoplay: true, loop: true, controls: false, muted: true, class:'pointer-events-none', preload: 'metadata', image_size:'300x', data-ignore-pause:"true" }}
                        </template>  
                        {{- video_hosted.preview_image | image_url: width: video_hosted.preview_image.width | image_tag: loading: 'lazy', fetchpriority: 'auto', widths: widths , decoding:"async", class:'video-placeholder', alt:video_hosted.alt -}} 
                      </viewport-media>
                      </div>
                    {%- endif -%}
                  {%- elsif image != blank -%}
                    {% render 'responsive-image', image: image, decoding:"async", image_aspect_ratio : media_size, sizes: sizes %}
                  {%- else -%}
                    {% render 'placeholder-image', image_placeholder : 'image', image_aspect_ratio : media_size %}
                  {%- endif -%}
                  {%- capture var_overlay -%}
                    {%- if block.settings.overlay_gradient != blank -%}
                      {{ block.settings.overlay_gradient }}
                    {%- else -%}
                    rgba( {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity |  divided_by: 100.0 }} )
                    {%- endif -%}
                  {%- endcapture -%}
                  <div class="products-with-banner__content-info absolute inset-0 flex {{ align_content }} p-14 overlay-media" style="--overlay-color:{{ var_overlay }};">
                    <div class="products-with-banner__info-inner z-[2]">
                        {%- if block.settings.subheading != blank -%}
                          <p class="sub-heading py-2">{{ block.settings.subheading }}</p>
                        {%- endif -%}
                        {%- if block.settings.heading != blank -%}
                          <h2 class="py-2 {{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
                        {%- endif -%}
                        {%- if block.settings.text != blank -%}
                          <div class="rte py-2">{{ block.settings.text }}</div>
                        {%- endif -%}
                        {%- if block.settings.button_label != blank -%}
                          {%- render 'button',
                              custom_class: 'mt-8',
                              button_style: block.settings.button_type ,
                              button_text: block.settings.button_label,
                              button_url:  block.settings.button_link ,
                              button_type: 'link',
                              show_icon: block.settings.show_icon
                          -%}
                        {%- endif -%}
                        {%- if  block.settings.button_link != blank -%}
                          <a class="absolute inset-0" href="{{ block.settings.button_link }}" tabindex="-1" aria-label="{{ block.settings.heading | escape }}" ></a> 
                        {%- endif -%} 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- when 'product' -%}
            {% liquid
              assign column_gap = block.settings.column_gap | append: 'rem'
              assign column_gap_mobile = block.settings.column_gap_mobile | append: 'rem'
            %}    
            <div class="products-with-banner__list" {{ block.shopify_attributes }}>
              <div class="products-with-banner__item top-header md:sticky">
                <div class=" grid md:grid-cols-{{ block.settings.columns_desktop }} grid-cols-{{ block.settings.columns_mobile }} orgap-desk orgap-mobile  products-with-banner__column-{{ block.settings.columns_desktop }} {% if block.settings.swipe_on_mobile %} grid--mobile-slider {% endif %}" style="--column-gap:{{ column_gap }};--column-gap-mobile:{{ column_gap_mobile }};">
                {%- for product in block.settings.product -%}
                  <div class="products-with-banner__list-item {{ scroll_animation }}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};"{% endif %}>
                    {% render 'card-product', card_product: product, section_width: section_width, columns: block.settings.columns_desktop  %}
                  </div>
                  {%- else -%}
                  {%- for i in (1..4) -%}
                      <div class="products-with-banner__list-item {{ scroll_animation }}" {% if settings.animations_reveal_on_scroll %} data-cascade style="--animation-order: {{ forloop.index }};"{% endif %} >
                        {%- capture product_placeholder -%}product-{% cycle '1', '2', '3', '4', '5', '6' %}{%- endcapture -%}
                        {% render 'card-product', product_placeholder: product_placeholder %}
                      </div>
                  {%- endfor -%}
                {%- endfor -%}
                </div>
              </div>
          </div>
        {%- endcase -%}
      {% endfor %}   
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Products with banner",
    "class": "section--products-with-banner",
    "max_blocks": 2,
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer", "aside"]
    },
    "settings": [
      {
        "type": "select",
        "id": "section_width",
        "label": "Section width",
        "options": [
          {
            "value": "container",
            "label": "Container"
          },
          {
            "value": "container-fluid",
            "label": "Stretched"
          },
          {
            "value": "w-full",
            "label": "Full width"
          }
        ],
        "default": "container"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Sub heading"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Products with banner",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "Heading tag",
        "options": [
            {
                "value": "h1",
                "label": "H1"
            },
            {
                "value": "h2",
                "label": "H2"
            },
            {
                "value": "h3",
                "label": "H3"
            },
            {
                "value": "h4",
                "label": "H4"
            },
            {
                "value": "h5",
                "label": "H5"
            },
            {
                "value": "h6",
                "label": "H6"
            },
            {
                "value": "p",
                "label": "Paragraph"
            },
            {
                "value": "div",
                "label": "Div"
            }
        ],
        "default": "h2"
      },
      {
        "type": "select",
        "id": "heading_size_section",
        "label": "Heading size",
        "options": [
            {
                "value": "h1",
                "label": "Heading 1"
            },
            {
                "value": "h2",
                "label": "Heading 2"
            },
            {
                "value": "h3",
                "label": "Heading 3"
            },
            {
                "value": "h4",
                "label": "Heading 4"
            },
            {
                "value": "h5",
                "label": "Heading 5"
            },
            {
                "value": "h6",
                "label": "Heading 6"
            }
        ],
        "default": "h2"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Add a short description for this section</p>"
      },
      {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
              {
                  "value": "horizontal",
                  "label": "Horizontal"
              },
              {
                  "value": "vertical",
                  "label": "Vertical"
              }
          ],
          "default": "vertical"
      },
      {
        "type": "header",
        "content": "View all button"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "View all"
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button type",
        "options": [
          { "group": "Primary color","value": "primary","label": "Primary" },
            { "group": "Primary color","value": "outline","label": "Outline" },
            { "group": "Primary color","value": "underlined","label": "Underlined" },
            { "group": "White color","value": "primary-white","label": "Solid White" },
            { "group": "White color","value": "outline-white","label": "Outline White" },
            { "group": "White color","value": "underlined-white","label": "Underlined White" },
            { "group": "Accent color","value": "secondary","label": "Secondary" }
        ],
        "default": "primary"
      },
      {
        "type": "checkbox",
        "id": "show_icon",
        "label": "Show arrow icon",
        "default": false
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
      },
      {
          "type": "color",
          "id": "text_color",
          "label": "Text"
      },
      {
        "type": "header",
        "content": "Gap"
      },
      {
        "type": "range",
        "id": "column_gap",
        "min": 0,
        "max": 8,
        "step": 0.5,
        "default": 6,
        "unit": "rem",
        "label": "Gap (desktop)"
      },
      {
        "type": "range",
        "id": "column_gap_mobile",
        "min": 0,
        "max": 5,
        "step": 0.5,
        "default": 4,
        "unit": "rem",
        "label": "Gap (mobile)"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom padding",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "limit": 1,
        "settings": [
          {
            "type": "product_list",
            "id": "product",
            "label": "Product list",
            "limit": 10
          },
          {
            "type": "select",
            "id": "columns_desktop",
            "label": "Columns (desktop)",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                }
            ]
          },
          {
            "type": "range",
            "id": "column_gap",
            "min": 0,
            "max": 8,
            "step": 0.5,
            "default": 3,
            "unit": "rem",
            "label": "Gap (desktop)"
          },
          {
            "type": "select",
            "id": "columns_mobile",
            "label": "Columns (mobile)",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "1 column"
                },
                {
                    "value": "2",
                    "label": "2 columns"
                }
            ]
          },
          {
            "type": "range",
            "id": "column_gap_mobile",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "default": 2,
            "unit": "rem",
            "label": "Gap (mobile)"
          },
          {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "default": false,
            "label": "Enable swipe on mobile"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1250 x 1250 .jpg recommended."
          },
          {
						"type": "header",
						"content": "Video"
					},
					{
						"type": "checkbox",
						"id": "use_video",
						"default": false,
						"label": "Use video instead of image"
					},
					{
						"type": "video",
						"id": "video_hosted",
						"label": "Shopify-hosted video"
					},
          {
            "type": "select",
            "id": "media_size",
            "options": [
                { "value": "adapt","label": "Adapt to image" },
                { "value": "square","label": "Square(1:1)" },
                { "value": "portrait","label": "Portrait (2:3)" },
                { "value": "landscape","label": "Landscape (4:3)" },
                { "value": "landscape-v2","label": "Landscape (5:3.5)" },
                { "value": "wide","label": "Wide (16:9)" }
            ],
            "default": "adapt",
            "label": "Media size"
          },
          {
            "type": "text",
            "id": "subheading",
            "default": "Subheading",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Promote your products",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "h1",
                "label": "Heading 1"
              },
              {
                "value": "h2",
                "label": "Heading 2"
              },
              {
                "value": "h3",
                "label": "Heading 3"
              },
              {
                "value": "h4",
                "label": "Heading 4"
              },
              {
                "value": "h5",
                "label": "Heading 5"
              },
              {
                "value": "h6",
                "label": "Heading 6"
              }
            ],
            "default": "h4"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Button text",
            "label": "Button",
            "info": "Leave the label blank to hide the button."
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Button style",
            "options": [
              { "group": "Primary color","value": "primary","label": "Primary" },
              { "group": "Primary color","value": "outline","label": "Outline" },
              { "group": "Primary color","value": "underlined","label": "Underlined" },
              { "group": "White color","value": "primary-white","label": "Solid White" },
              { "group": "White color","value": "outline-white","label": "Outline White" },
              { "group": "White color","value": "underlined-white","label": "Underlined White" },
              { "group": "Accent color","value": "secondary","label": "Secondary" }
            ],
            "default": "primary-white"
          },
          {
            "type": "checkbox",
            "id": "show_icon",
            "label": "Show arrow icon",
            "default": false
          },
          {
            "type": "select",
            "id": "desktop_content_position",
            "label": "Content position ",
            "options": [
              {"value": "top-left","label": "Top left"},
              {"value": "top-center","label": "Top center"},
              {"value": "top-right","label": "Top right"},
              {"value": "middle-left","label": "Middle left"},
              {"value": "middle-center","label": "Middle center"},
              {"value": "middle-right","label": "Middle right"},
              {"value": "bottom-left","label": "Bottom left"},
              {"value": "bottom-center","label": "Bottom center"},
              {"value": "bottom-right","label": "Bottom right"}
            ],
            "default": "middle-center"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Overlay opacity",
            "default": 0
          },
          {
            "type": "color_background",
            "id": "overlay_gradient",
            "label": "Overlay gradient",
            "info": "Overwrite the overlay color."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products with banner",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
