{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign class_section = 'contact'
  assign content_width = section.settings.content_width
  
  assign contact_form_class = 'isolate mx-auto max-w-6xl'
  if content_width == 'max-full'
    assign contact_form_class = 'isolate mx-auto max-full'
  else
    assign contact_form_class = 'isolate mx-auto max-w-6xl'
  endif

  assign input_bg_color = section.settings.input_bg_color
  assign input_text_color = section.settings.input_text_color
  assign input_border_color = section.settings.input_border_color
-%}

{% unless input_bg_color == 'rgba(0,0,0,0)' or input_bg_color == blank %}
  {%- capture style_attr_color -%}--color-background: {{ input_bg_color.rgb }};{%- endcapture -%}
{% endunless %}
{% unless input_text_color == 'rgba(0,0,0,0)' or input_text_color == blank %}
  {%- capture style_attr_color -%}{{ style_attr_color }} --color-foreground: {{ input_text_color.rgb }};{%- endcapture -%}
{% endunless %}
{% unless input_border_color == 'rgba(0,0,0,0)' or input_border_color == blank %}
  {%- capture style_attr_color -%}{{ style_attr_color }} --color-input-border: {{ input_border_color.rgb }};{%- endcapture -%}
{% endunless %}

<div class="section-{{ class_section }} isolate section-padding section-bg" {% render 'section-properties' %}>
  <div class="container">
    {% render 'section-header', layout_header: section.settings.layout, subheading: section.settings.subheading, heading: section.settings.heading, description: section.settings.description, class:"header-contact", heading_size: section.settings.heading_size_section, heading_tag: section.settings.heading_tag %}
    <div class="block {% if  settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      <div class="fieldset flex flex-col justify-center gap-y-6" 
      {% if style_attr_color != blank %}
        style="{{ style_attr_color | strip }}"
      {%- endif -%}>
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- elsif form.errors -%}
            <div class="form-status caption-large text-body form__message" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        
        <div class="contact__fields flex  flex-col lg:flex-row gap-x-6 gap-y-6" >
          <div class="field">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        {%- if section.settings.show_phone_number -%}
          <div class="field">
            <input
              type="tel"
              id="ContactForm-phone"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="{{ 'templates.contact.form.phone' | t }}"
            >
            <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
          </div>
        {%- endif -%}
        {% for block in section.blocks %}
          {%- liquid
              assign title = block.settings.title | escape
              assign title_handle = title | handle | append: forloop.index
            -%}
          {%- if block.type == 'text_field' -%}
            <div class="field">
              {%- if block.settings.use_long_text -%}
                <textarea
                  rows="10"
                  id="ContactForm-{{ title_handle }}"
                  class="text-area field__input"
                  name="contact[{{ title }}]"
                  placeholder="{{ title }}"
                {% if block.settings.is_required %}required{% endif %}
                >
                </textarea>
              {%- else -%}
                <input
                  class="field__input"
                  type="text"
                  id="ContactForm-{{ title_handle }}"
                  name="contact[{{ title }}]"
                  placeholder="{{ title }}"
                {% if block.settings.is_required %}required{% endif %}
                >
              {%- endif -%}
              <label class="field__label" for="ContactForm-{{ title_handle }}">{{ title }}</label>
            </div>
          {%- elsif block.type == 'dropdown_field' -%}
            <div class="field">
              <div class="select">
                <select
                  id="ContactForm-{{ title_handle }}"
                  class="field__input select__select"
                  name="contact[{{ title }}]"
                >
                  {% assign values = block.settings.values | split: ',' %}
                  {% for value in values %}
                    <option value="{{ value | strip }}">{{ value | strip }}</option>
                  {% endfor %}
                </select>
                {% render 'icon-caret' %}
              </div>
              <label class="field__label" for="ContactForm-{{ title_handle }}">{{ title }}</label>
            </div>
          {%- endif -%}
        {%- endfor -%}
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class="contact__button mt-5 text-center">
          {%-  assign text_button = 'templates.contact.form.send' | t -%}
          {%- render 'button',
            button_style: section.settings.button_type,
            button_text: text_button,
            button_type: 'submit',
        -%}
        </div>
      </div>
    {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Sub heading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading tag",
      "options": [
          {
              "value": "h1",
              "label": "H1"
          },
          {
              "value": "h2",
              "label": "H2"
          },
          {
              "value": "h3",
              "label": "H3"
          },
          {
              "value": "h4",
              "label": "H4"
          },
          {
              "value": "h5",
              "label": "H5"
          },
          {
              "value": "h6",
              "label": "H6"
          },
          {
              "value": "p",
              "label": "Paragraph"
          },
          {
              "value": "div",
              "label": "Div"
          }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_size_section",
      "label": "Heading size",
      "options": [
          {
              "value": "h1",
              "label": "Heading 1"
          },
          {
              "value": "h2",
              "label": "Heading 2"
          },
          {
              "value": "h3",
              "label": "Heading 3"
          },
          {
              "value": "h4",
              "label": "Heading 4"
          },
          {
              "value": "h5",
              "label": "Heading 5"
          },
          {
              "value": "h6",
              "label": "Heading 6"
          }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Add a short description for this section</p>"
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
            {
                "value": "horizontal",
                "label": "Horizontal"
            },
            {
                "value": "vertical",
                "label": "Vertical"
            }
        ],
        "default": "vertical"
    },
    {
        "type": "header",
        "content": "Form fields"
    },
    {
        "type": "select",
        "id": "content_width",
        "label": "Content width",
        "options": [
            {
                "value": "narrow",
                "label": "Narrow"
            },
            {
                "value": "max-full",
                "label": "Full width"
            }
        ],
        "default": "narrow"
    },
    {
      "type": "checkbox",
      "id": "show_phone_number",
      "label": "Show phone number",
      "default": true
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button style",
      "options": [
        { "group": "Primary color","value": "primary","label": "Primary" },
        { "group": "Primary color","value": "outline","label": "Outline" },
        { "group": "Primary color","value": "underlined","label": "Underlined" },
        { "group": "White color","value": "primary-white","label": "Solid White" },
        { "group": "White color","value": "outline-white","label": "Outline White" },
        { "group": "White color","value": "underlined-white","label": "Underlined White" },
        { "group": "Accent color","value": "secondary","label": "Secondary" }
      ],
      "default": "primary"
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text"
    },
    {
        "type": "header",
        "content": "Contact block colors"
    },
    {
        "type": "color",
        "id": "input_bg_color",
        "label": "Input background"
    },
    {
        "type": "color",
        "id": "input_text_color",
        "label": "Input text"
    },
    {
        "type": "color",
        "id": "input_border_color",
        "label": "Input border"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text_field",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "Use long text",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    },
    {
      "type": "dropdown_field",
      "name": "Dropdown field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}
