
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'section-email-signup-banner.css' | asset_url | stylesheet_tag }}

{% liquid
  assign border_color_newsletter = section.settings.border_color_newsletter
  assign overlay_color = section.settings.overlay_color
  assign image_overlay_opacity = section.settings.image_overlay_opacity
%}
<div id="Banner-{{ section.id }}" class="email-signup-banner h-full relative section-bg " {% render 'section-properties' %}>
      {%- if section.settings.image != blank -%}
      {%- capture var_overlay -%} rgba( {{ overlay_color.rgb }} / {{ image_overlay_opacity |  divided_by: 100.0 }} ){%- endcapture -%}
        <div class="overlay-media absolute inset-0" style="--overlay-color:{{ var_overlay }};">
        <img
          srcset="
            {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
          "
          class="absolute inset-0 w-full h-full object-cover "
          sizes="100vw"
          src="{{ section.settings.image | image_url: width: 1500 }}"
          loading="eager"
          fetchpriority="high"
          alt="{{ section.settings.image.alt | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        >
        </div>
      {%- endif -%}
  <div class="banner__content  container flex justify-center items-center h-full relative z-[1]">
    <div class="email-signup-banner__box banner__box newsletter newsletter__wrapper isolate py-24 w-full max-w-2xl mx-auto text-center">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="email-signup-banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              {{ block.settings.heading | escape }}
            </h2>
          {%- when 'paragraph' -%}
            <div class="newsletter__subheading rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
          {%- when 'email_form' -%}
            {% liquid
              assign input_text_color = section.settings.input_text_color
            %}
            {%- capture border_input_color -%}
              {%- unless border_color_newsletter == "rgba(0,0,0,0)" or border_color_newsletter == blank -%}
                --color-input-border:{{ section.settings.border_color_newsletter.rgb }};
              {%- endunless -%}
            {%- endcapture -%}
            {%- capture text_color -%}
              {%- unless input_text_color == "rgba(0,0,0,0)" or input_text_color == blank -%}
                --color-foreground:{{ input_text_color.rgb }}
              {%- endunless -%}
            {%- endcapture -%}
            <div class="mt-8" {{ block.shopify_attributes }}>
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field" style="{{ border_input_color }}; {{ text_color }}">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label sr-only" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    {%- if block.settings.design == 'row' -%}
                      <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe--{{ section.id }}"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                      style="color:rgb(var(--color-foreground));">
                      {% render 'icon-arrow' %}
                      </button>
                    {%- endif -%}
                  </div>
                  {%- if block.settings.design == 'column' -%}
                    {%- assign button_text = 'newsletter.button_label' | t -%}
                    {%- render 'button',
                      button_style: block.settings.button_type,
                      button_text: button_text,
                      button_type: 'submit',
                      show_icon: block.settings.show_icon,
                      custom_class: 'mt-8 w-full'
                  -%}
                  {%- endif -%}
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <div
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </div>
                {%- endif -%}
              {% endform %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Email signup banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Each email subscription creates a customer account. [Learn more](https:\/\/help.shopify.com\/manual\/customers)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },    
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text"
    },
    {
        "type": "color",
        "id": "input_text_color",
        "label": "Input text color",
        "default": "#000000"
    },
    {
        "type": "color",
        "id":  "border_color_newsletter",
        "label": "Border input"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening soon",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
                "value": "h1",
                "label": "Heading 1"
            },
            {
                "value": "h2",
                "label": "Heading 2"
            },
            {
                "value": "h3",
                "label": "Heading 3"
            },
            {
                "value": "h4",
                "label": "Heading 4"
            },
            {
                "value": "h5",
                "label": "Heading 5"
            },
            {
                "value": "h6",
                "label": "Heading 6"
            }
          ],
          "default": "h2",
          "label": "Heading size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when we launch.</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Email form",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "design",
          "label": "Design",
          "default": "row",
          "options": [
            {
              "value": "row",
              "label": "Row"
            },
            {
              "value": "column",
              "label": "Column"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button style",
          "options": [
            { "group": "Primary color","value": "primary","label": "Primary" },
            { "group": "Primary color","value": "outline","label": "Outline" },
            { "group": "Primary color","value": "underlined","label": "Underlined" },
            { "group": "White color","value": "primary-white","label": "Solid White" },
            { "group": "White color","value": "outline-white","label": "Outline White" },
            { "group": "White color","value": "underlined-white","label": "Underlined White" },
            { "group": "Accent color","value": "secondary","label": "Secondary" }
          ],
          "default": "primary",
          "info": "Work with column design only"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show icon",
          "default": true
        }
      
      ]
    }
  ]
}
{% endschema %}
