{% style %}
  /* FORET */

  /* Force full-width en cassant le conteneur parent */
  .section--full-width.forest-wrapper {
    width: 100vw -20px;
    position: relative;
  }

  .forest {
    padding-top: 100px;
    position: relative;
    text-align: center;
  }

  .forest .content {
    background: #e6e3da;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 20px;
  }

  .forest h2 {
    font-size: 40px;
    color: #343c3e;
  }
  .forest p {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    color: #343c3e;
    font-size: 16px;
  }
  .forest a {
    font-family: var(--font-heading-family);
    padding: 20px 40px;
    background: none;
    border: 1px solid #343c3e;
    border-radius: 40px;
    color: #343c3e;
    transition: all 0.3s;
    text-decoration: none;

    &:hover {
      filter: brightness(120%);
    }
  }

  .forest .frst {
    position: relative;
    width: 100%;
    height: auto;
  }

  .forest .img_right {
    position: absolute;
    right: 0;
    width: 400px;
    top: -140px;
  }

  .forest .img_center {
    position: absolute;
    bottom: -5px;
    left: 0;
    max-width: 100%;
  }

  .forest .img_left {
    position: absolute;
    left: 0;
    width: 450px;
    bottom: -15px;
  }
{% endstyle %}

<div
  class="
    forest {{ section.settings.class }}
    forest-wrapper
    section--{{ section.settings.section_width }}
    color-{{ section.settings.color_scheme }}
  "
  style="background-color: {{ section.settings.bgcolor }};"
>
  <div class="frst">
    {% if section.settings.center_image != blank %}
      {{
        section.settings.center_image
        | image_url: width: 2000
        | image_tag:
          class: 'img_center',
          alt: section.settings.center_image_alt,
          widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000'
      }}
    {% endif %}
    {% if section.settings.left_image != blank %}
      {{
        section.settings.left_image
        | image_url: width: 2000
        | image_tag:
          class: 'img_left',
          alt: section.settings.left_image_alt,
          widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000'
      }}
    {% endif %}
    {% if section.settings.right_image != blank %}
      {{
        section.settings.right_image
        | image_url: width: 2000
        | image_tag:
          class: 'img_right',
          alt: section.settings.right_image_alt,
          widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000'
      }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Pied de page Immersif",
  "tag": "section",
  "class": "section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "class",
      "label": "Classe personnalisée",
      "info": "Une classe pour s'amuser en CSS en ciblant"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        },
        {
          "value": "alt",
          "label": "t:options.alt"
        },
        {
          "value": "accent",
          "label": "t:options.accent"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Couleur de fond",
      "info": "Vide par défaut"
    },
    {
      "type": "image_picker",
      "id": "center_image",
      "label": "Image centrale",
      "info": "Image centrale de la forêt"
    },
    {
      "type": "text",
      "id": "center_image_alt",
      "label": "Texte alternatif - Image centrale",
      "default": "Forêt immersive centre"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Image gauche",
      "info": "Image gauche de la forêt"
    },
    {
      "type": "text",
      "id": "left_image_alt",
      "label": "Texte alternatif - Image gauche",
      "default": "Forêt immersive gauche"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Image droite",
      "info": "Image droite de la forêt"
    },
    {
      "type": "text",
      "id": "right_image_alt",
      "label": "Texte alternatif - Image droite",
      "default": "Forêt immersive droite"
    }
  ],
  "presets": [
    {
      "name": "Pied de page immersif",
      "category": "Custom"
    }
  ]
}
{% endschema %}
