{{ 'hotspot.css' | asset_url | stylesheet_tag }}
{%-liquid
  assign section_width = section.settings.section_width
  assign desktop_height = section.settings.desktop_height
  assign mobile_height = section.settings.mobile_height
  assign image = section.settings.image
  assign mobile_image = section.settings.mobile_image
  assign fetch_priority = 'auto'
  assign loading = 'lazy'
  if section.index == 1
    assign loading = 'eager'
    assign fetch_priority = 'high'
  endif 
-%}
{%- capture ratio -%}
    {%- if image != blank -%}
      --aspect-ratio:{{ image.aspect_ratio }};
      {%- if mobile_image != blank -%}
        --aspect-ratio-mobile : {{ mobile_image.aspect_ratio }};
      {%- else -%}
        --aspect-ratio-mobile : {{ image.aspect_ratio }};
      {%- endif -%}
    {%- else -%}
      --aspect-ratio:16/9; --aspect-ratio-mobile : 16/9;
    {%- endif -%}
{%- endcapture -%}
<div class=" section-lookbook-banner section-padding section-bg relative overflow-hidden md:overflow-visible" {% render 'section-properties' %}>
  <div class="{{ section_width }}">
    {% render 'section-header', layout_header: section.settings.layout, subheading: section.settings.subheading, heading: section.settings.heading, description: section.settings.description, link_text: section.settings.link_text, button_style: section.settings.button_type, button_url: section.settings.link_url, show_icon : section.settings.show_icon, class:"header-lookbook-banner", heading_size: section.settings.heading_size_section, heading_tag: section.settings.heading_tag %}
    <div class="lookbook-banner-wrapper relative" style="--hotspot-color:{{ section.settings.hotspot_color.rgb }};--hotspot-color-after:{{ section.settings.hotspot_color_after.rgb }};">
      {%- for block in section.blocks -%}
          {%- liquid
            assign top = 'auto'
            assign left = 'auto'
            assign right = 'auto'
            assign bottom = 'auto'
            if block.settings.horizontal_position > 70 
              assign right = '-100%' 
              assign left = 'auto' 
            else 
              assign right = 'auto' 
              assign left = '-100%' 
            endif 
            if block.settings.vertical_position > 70 
              assign bottom = 'calc(100% + 1rem)' 
              assign top = 'auto' 
            else 
              assign bottom = 'auto' 
              assign top = 'calc(100% + 1rem)' 
            endif 
          -%}
        {%- case block.type -%}
          {%- when 'product' -%}
            {%- assign product = block.settings.product -%}
            <div class="hotspot-dot hotspot-product absolute z-[1] " style="--left:{{ block.settings.horizontal_position |  append: '%'}}; --top: {{ block.settings.vertical_position | append: '%'}};--left-mobile:{{ block.settings.horizontal_position_mobile | append: '%' }}; --top-mobile:{{ block.settings.vertical_position_mobile | append: '%' }}">
              {%- if product != blank -%}
              <a class="hotspot-dot__point size-14 rounded-full inline-block relative cursor-pointer" href="{{ product.url }}" style="--animation-delay:{{ forloop.index }}s ;">
                <span class="sr-only">{{ product.title }}</span>
              </a>
              {%- else -%}
              <span class="hotspot-dot__point size-14 rounded-full inline-block relative cursor-pointer" tabindex="0" style="--animation-delay:{{ forloop.index }}s ;">
                <span class="sr-only" >{{ 'onboarding.product_title' | t }}</span>
              </span>
              {%- endif-%}
              <div class="hotspot-dot__product global-radius w-max absolute z-[3]  hidden md:block {% if block.settings.enable_image %} show-image py-5 pl-5 pr-7  {% else %} p-8{% endif %}" style="inset: {{ top }} {{ right }} {{ bottom }} {{ left }};">
                {%- if product != blank -%}
                  {% render 'card-product-small', card_product:product, image_aspect_ratio : 1 %}
                {%- else -%}
                  <div class="product-card-sm flex gap-x-8">
                    <div class="product-card-sm__img basis-36">
                        <span class="block">
                          {%- render 'placeholder-image' , product_placeholder : 'product-1', image_aspect_ratio: 1 -%}
                        </span>
                    </div>
                    <div class="product-card-sm__info flex-1 grow">
                        <div class="product-card-sm__info__title mb-2">
                            <span>{{ 'onboarding.product_title' | t }}</span> 
                        </div>
                        <div class="product-card-sm__info__price">
                          {% render 'price', show_compare_at_price: true %}
                        </div>
                    </div>
                </div>
                {%- endif -%}
              </div>
            </div>
         {%- when 'featured_block' -%}
            <div class="hotspot-dot hotspot-featured absolute z-[1] " style="--left:{{ block.settings.horizontal_position |  append: '%'}}; --top: {{ block.settings.vertical_position | append: '%'}};--left-mobile:{{ block.settings.horizontal_position_mobile | append: '%' }}; --top-mobile:{{ block.settings.vertical_position_mobile | append: '%' }}">
              <span class="hotspot-dot__point size-14 rounded-full inline-block relative cursor-pointer" tabindex="0" style="--animation-delay:{{ forloop.index }}s ;">
                <span class="sr-only">{{ block.settings.heading }}</span>
              </span>
              <div class="hotspot-dot__featured w-max absolute z-[3] p-8 global-radius" style="inset: {{ top }} {{ right }} {{ bottom }} {{ left }};">
                {%- if block.settings.heading != blank -%}
                  <div class="h5 mb-3">{{ block.settings.heading }}</div>
                {%- endif -%}
                {%- if block.settings.content != blank -%}
                  <div class="rte">{{ block.settings.content }}</div>
                {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
      <div class=" {{ desktop_height }} {{ mobile_height }} relative overflow-hidden w-full {% if section_width != 'w-full' %} global-radius {% endif %}" style="{{ ratio }}">
      {%- if image != blank -%}
        {%- if mobile_image != blank -%}
          {% render 'responsive-image' , image: image, loading:loading, fetchpriority:fetch_priority, decoding:"async", wrapper_class: 'defer-image sm:block hidden w-full h-full', class: 'inset-0 object-cover w-full h-full' %}
          {% render 'responsive-image' , image: mobile_image, loading:loading, fetchpriority:fetch_priority, decoding:"async", wrapper_class: 'defer-image sm:hidden w-full h-full', class: 'inset-0 object-cover w-full h-full' %}
        {%- else -%}
          {% render 'responsive-image' , image: image, loading:loading, fetchpriority:fetch_priority, decoding:"async", wrapper_class: 'defer-image w-full h-full', class: 'inset-0 object-cover w-full h-full' %}
        {%- endif -%}
      {%- else %} 
        <div class="hero-placeholder-svg ">
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Lookbook banner",
    "class": "section--lookbook-banner",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer", "aside"]
    },
    "settings": [
      {
        "type": "select",
        "id": "section_width",
        "label": "Section width",
        "options": [
          {
            "value": "container",
            "label": "Container"
          },
          {
            "value": "container-fluid",
            "label": "Stretched"
          },
          {
            "value": "w-full",
            "label": "Full width"
          }
        ],
        "default": "container"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "2500 x 1200px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image",
        "info": "1500 x 1900px .jpg recommended. Default to desktop image."
      },
      {
        "type": "select",
        "id": "desktop_height",
        "label": "Desktop height",
        "options": [
          {
            "value": "desktop-height-image",
            "label": "Adapt to image"
          },
          {
            "value": "desktop-height-450",
            "label": "450px"
          },
          {
            "value": "desktop-height-550",
            "label": "550px"
          },
          {
            "value": "desktop-height-650",
            "label": "650px"
          },
          {
            "value": "desktop-height-750",
            "label": "750px"
          }
        ],
        "default": "desktop-height-650"
      },
      {
        "type": "select",
        "id": "mobile_height",
        "label": "Mobile height",
        "options": [
          {
            "value": "mobile-height-image",
            "label": "Adapt to image"
          },
          {
            "value": "mobile-height-400",
            "label": "400px"
          },
          {
            "value": "mobile-height-450",
            "label": "450px"
          },
          {
            "value": "mobile-height-500",
            "label": "500px"
          },
          {
            "value": "mobile-height-550",
            "label": "550px"
          }
        ],
        "default": "mobile-height-500"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Sub heading"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Loobook banner",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "label": "Heading tag",
        "options": [
            {
                "value": "h1",
                "label": "H1"
            },
            {
                "value": "h2",
                "label": "H2"
            },
            {
                "value": "h3",
                "label": "H3"
            },
            {
                "value": "h4",
                "label": "H4"
            },
            {
                "value": "h5",
                "label": "H5"
            },
            {
                "value": "h6",
                "label": "H6"
            },
            {
                "value": "p",
                "label": "Paragraph"
            },
            {
                "value": "div",
                "label": "Div"
            }
        ],
        "default": "h2"
      },
      {
        "type": "select",
        "id": "heading_size_section",
        "label": "Heading size",
        "options": [
            {
                "value": "h1",
                "label": "Heading 1"
            },
            {
                "value": "h2",
                "label": "Heading 2"
            },
            {
                "value": "h3",
                "label": "Heading 3"
            },
            {
                "value": "h4",
                "label": "Heading 4"
            },
            {
                "value": "h5",
                "label": "Heading 5"
            },
            {
                "value": "h6",
                "label": "Heading 6"
            }
        ],
        "default": "h2"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Add a short description for this section</p>"
      },
      {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
              {
                  "value": "horizontal",
                  "label": "Horizontal"
              },
              {
                  "value": "vertical",
                  "label": "Vertical"
              }
          ],
          "default": "vertical"
      },
      {
        "type": "header",
        "content": "View all button"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text",
        "default": "View all"
      },
      {
        "type": "select",
        "id": "button_type",
        "label": "Button type",
        "options": [
          { "group": "Primary color","value": "primary","label": "Primary" },
          { "group": "Primary color","value": "outline","label": "Outline" },
          { "group": "Primary color","value": "underlined","label": "Underlined" },
          { "group": "White color","value": "primary-white","label": "Solid White" },
          { "group": "White color","value": "outline-white","label": "Outline White" },
          { "group": "White color","value": "underlined-white","label": "Underlined White" },
          { "group": "Accent color","value": "secondary","label": "Secondary" }
        ],
        "default": "primary"
      },
      {
        "type": "checkbox",
        "id": "show_icon",
        "label": "Show arrow icon",
        "default": false
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
      },
      {
          "type": "color",
          "id": "text_color",
          "label": "Text"
      },
      {
        "type": "header",
        "content": "Hot spot dot"
      },
      {
          "type": "color",
          "id": "hotspot_color",
          "label": "Background",
          "default": "#ffffff"
      },
      {
          "type": "color",
          "id": "hotspot_color_after",
          "label": "Background after",
          "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom padding",
        "default": 36
      }
    ],
    "blocks": [
       {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Enable image",
            "default": true
          },
          {
            "type": "header",
            "content": "Hot spot"
          },
          {
            "type": "range",
            "id": "horizontal_position",
            "label": "Horizontal position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "vertical_position",
            "label": "Vertical position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "horizontal_position_mobile",
            "label": "Horizontal position (mobile)",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "vertical_position_mobile",
            "label": "Vertical position (mobile)",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          }
        ]
       },
       {
        "type": "featured_block",
        "name": "Featured",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Share useful information about your product features.</p>"
          },
          {
            "type": "header",
            "content": "Hot spot"
          },
          {
            "type": "range",
            "id": "horizontal_position",
            "label": "Horizontal position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "vertical_position",
            "label": "Vertical position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "horizontal_position_mobile",
            "label": "Horizontal position (mobile)",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          },
          {
            "type": "range",
            "id": "vertical_position_mobile",
            "label": "Vertical position (mobile)",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": " %",
            "default": 24
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook banner",
        "blocks": [
          {
            "type": "product",
            "settings": {
              "horizontal_position": 54,
              "vertical_position": 24,
              "horizontal_position_mobile": 54,
              "vertical_position_mobile": 24
            }
          },
          {
            "type": "product",
            "settings": {
              "horizontal_position": 72,
              "vertical_position": 54,
              "horizontal_position_mobile": 72,
              "vertical_position_mobile": 54
            }
          },
          {
            "type": "product",
            "settings": {
              "horizontal_position": 32,
              "vertical_position": 72,
              "horizontal_position_mobile": 32,
              "vertical_position_mobile": 72
            }
          }
        ]
      }
    ]
  }
{% endschema %}
