{{ 'template-collection-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'rdc_template-collection-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'rdc_template-collection-product-grid.js' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{%- if settings.card_show_quick_buy -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

{%- liquid
  assign section_width =  section.settings.section_width
  assign show_filter_values_count = section.settings.show_filter_values_count
  assign enable_filtering = section.settings.enable_filtering
  assign enable_sorting = section.settings.enable_sorting
  assign filter_type = section.settings.filter_type
  assign collapsible_state = section.settings.collapsible_state
  assign filter_color_type = section.settings.filter_color_type
  assign show_color_swatch = section.settings.show_color_swatch
  assign show_product_count = section.settings.show_product_count
  assign columns_desktop = section.settings.columns_desktop
  assign columns_mobile = section.settings.columns_mobile
  assign show_block_style  = section.settings.show_block_style
  assign matching_block_names = section.settings.matching_block_names
  assign show_view_mode = section.settings.show_view_mode
-%}

<div class="section-collection-products-grid section-padding section-bg" {% render 'section-properties' %}> 
  {%- paginate collection.products by section.settings.products_per_page -%}
    <div class="{% if filter_type == 'vertical' %} facets-vertical {{ section_width }} {% endif %}">
      {{ 'nouislider.css' | asset_url | stylesheet_tag }}
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      {{ 'component-show-more.css' | asset_url | stylesheet_tag }}
      {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
      {{ 'component-swatch.css' | asset_url | stylesheet_tag }}

      <script src="{{ 'nouislider.min.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if enable_filtering or enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if filter_type != 'vertical' %} {{ section_width }} {% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          <div class="facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
              {% render 'facets-desktop', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, filter_type: filter_type, show_filter_values_count: show_filter_values_count, collapsible_state: collapsible_state, filter_color_type: filter_color_type, show_color_swatch: show_color_swatch, paginate: paginate, show_block_style: show_block_style, matching_block_names : matching_block_names
              %}
              {% render 'facets', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, filter_type: filter_type, show_filter_values_count: show_filter_values_count, collapsible_state: collapsible_state, filter_color_type: filter_color_type, show_color_swatch: show_color_swatch, show_product_count:show_product_count, paginate: paginate, columns_mobile: columns_mobile, columns_desktop: columns_desktop, show_block_style: show_block_style, matching_block_names : matching_block_names, show_view_mode: show_view_mode
              %}
          </div>
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          {%- if  filter_type == 'vertical' -%}
            <div class="flex pt-8 pb-4 lg:pt-0 lg:pb-10 items-center gap-x-6">
              {% render 'active-facets-desktop',  
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              %}
              <facet-filters-form class="facets facets-vertical-sort small-hide">
                <form class="facets-vertical-form" id="FacetSortForm">
                  <div class="facet-filters sorting !pl-0 w-full gap-x-6">
                    <div class="product-count-vertical !ml-0" role="status">
                      {%- if show_product_count -%}
                        <div class="product-count__text text-body">
                          <span id="ProductCountDesktop">
                            {%- if collection.results_count -%}
                              {{
                                'templates.search.results_with_count'
                                | t: terms: collection.terms, count: collection.results_count
                              }}
                            {%- elsif collection.products_count == collection.all_products_count -%}
                              {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                            {%- else -%}
                              {{
                                'products.facets.product_count'
                                | t: product_count: collection.products_count, count: collection.all_products_count
                              }}
                            {%- endif -%}
                          </span>
                        </div>
                      {%- endif -%}
                      {%- render 'loading-spinner' -%}
                    </div>
                    {%- if enable_sorting -%}
                    <div class="facet-filters__field">
                      <div class="facet-filters__label caption-large text-body sr-only">
                        <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                      </div>
                      <div class="select">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <select
                          name="sort_by"
                          class="facet-filters__sort select__select caption-large"
                          id="SortBy"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                    {%- endif -%}
                  </div>
                </form>
              </facet-filters-form>
            </div>
          {%- endif -%}
          <div class="collection collection--empty container" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper text-center">
              <h2 class="title title--primary h4">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
         {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
          
         {%- if filter_type == 'vertical' -%}
          <div class="flex pt-8 pb-4 lg:pt-0 lg:pb-10 items-center gap-x-6">
            {%- if show_view_mode and columns_desktop < 5 -%}
            <div class="view-mode items-center gap-x-6 md:flex hidden">
              <button class="view-mode__button {% if columns_desktop == 2  %} active {% endif %}" aria-label="Grid view" data-view-mode="2">
                {% render 'icon-grid-1' %}
              </button>
              <button class="view-mode__button {% if columns_desktop == 3  %} active {% endif %}" aria-label="Grid view" data-view-mode="3">
                {% render 'icon-grid-2' %}
              </button>
              <button class="view-mode__button {% if columns_desktop == 4  %} active {% endif %}" aria-label="Grid view" data-view-mode="4">
                {% render 'icon-grid' %}
              </button> 
            </div>
            {%- endif -%}
            {% render 'active-facets-desktop',  
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            %}
          <facet-filters-form class="facets facets-vertical-sort{% if section.settings.enable_filtering == false and section.settings.enable_sorting == true  %} {%  else %}  small-hide {% endif %}">
            <form class="facets-vertical-form" id="FacetSortForm">
              <div class="facet-filters sorting !pl-0 w-full gap-x-6">
                <div class="product-count-vertical !ml-0" role="status">
                  {%- if show_product_count -%}
                    <div class="product-count__text text-body">
                      <span id="ProductCountDesktop">
                        {%- if collection.results_count -%}
                          {{
                            'templates.search.results_with_count'
                            | t: terms: collection.terms, count: collection.results_count
                          }}
                        {%- elsif collection.products_count == collection.all_products_count -%}
                          {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                        {%- else -%}
                          {{
                            'products.facets.product_count'
                            | t: product_count: collection.products_count, count: collection.all_products_count
                          }}
                        {%- endif -%}
                      </span>
                    </div>
                  {%- endif -%}
                  {%- render 'loading-spinner' -%}
                </div>
                {%- if enable_sorting -%}
                <div class="facet-filters__field">
                  <div class="facet-filters__label caption-large text-body sr-only">
                    <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                  </div>
                  <div class="select">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <select
                      name="sort_by"
                      class="facet-filters__sort select__select caption-large"
                      id="SortBy"
                      aria-describedby="a11y-refresh-page-message"
                    >
                      {%- for option in collection.sort_options -%}
                        <option
                          value="{{ option.value | escape }}"
                          {% if option.value == sort_by %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ option.name | escape }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
                {%- endif -%}
              </div>
            </form>
          </facet-filters-form>
          </div>
          {%- endif -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} {{ section_width }} {% endif %}"
          >
            <div class="relative">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              data-products-count="{{ collection.products_count }}"
              class="grid lg:grid-cols-{{ section.settings.columns_desktop }} grid-cols-{{ section.settings.columns_mobile }} gap-y-{{ section.settings.row_gap }} gap-x-{{ section.settings.column_gap }} {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}"
            >
              {%- for product in collection.products -%}
                {%- for block in section.blocks -%}
                  {%- if forloop.parentloop.index != block.settings.position -%}
                    {%- continue -%}
                  {%- endif -%}
                  {% case block.type %}
                    {% when 'promotion' %}
                      {%- liquid
                        assign image = block.settings.image
                        assign use_video = block.settings.use_video
                        assign video_hosted = block.settings.video_hosted
                        assign desktop_content_position = block.settings.desktop_content_position
                        assign text_color = block.settings.text_color
                        assign video_alt = video_hosted.alt | default: ''
                        assign poster = video_hosted.preview_image
                      -%}
                      {%- capture align_content -%}
                        {%- case desktop_content_position -%}
                          {%- when 'top-left' -%} items-start justify-start text-left
                          {%- when 'top-center' -%} items-start justify-center text-center
                          {%- when 'top-right' -%} items-start justify-end text-right
                          {%- when 'middle-left' -%} items-center justify-start text-left
                          {%- when 'middle-center' -%} items-center justify-center text-center
                          {%- when 'middle-right' -%} items-center justify-end text-right
                          {%- when 'bottom-left' -%} items-end justify-start text-left
                          {%- when 'bottom-center' -%} items-end justify-center text-center
                          {%- when 'bottom-right' -%} items-end justify-end text-right
                          {%- else -%} items-center justify-center text-center
                        {%- endcase -%}
                      {% endcapture %}
                      {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank  -%}
                        {%- capture style -%}--color-foreground: {{ text_color.rgb }};--color-heading: {{ text_color.rgb }};{%- endcapture -%}
                      {%- endunless -%}
                      {%- capture var_overlay -%}
                        {%- if block.settings.overlay_gradient != blank -%}
                          {{ block.settings.overlay_gradient }}
                        {%- else -%}
                         rgba( {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity |  divided_by: 100.0 }} )
                        {%- endif -%}
                      {%- endcapture -%}
                      {%- capture sizes -%}
                        (max-width: 699px) 100vw, {{ 400 | times: columns_desktop }}px
                      {%- endcapture -%}
                      <li id="promo-{{ section.id }}-{{ block.id }}" class="promo-productlist {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" style="--column-span:span {{ block.settings.column_span }};">
                        <div class="promo-grid__item h-full" {{ block.shopify_attributes }}>
                          <div class="promo-grid__content global-radius relative overflow-hidden  {% if block.settings.fill_height %} h-full {% else %} promo-grid__content-customize {% endif %}" style="{% unless block.settings.fill_height %}--aspect-ratio-customize:{{ block.settings.custom_height }}%; {% endunless  %}{{ style }}">
                            {%- if use_video -%}
                                {%- if video_hosted != blank -%}
                                  <viewport-media> 
                                    <template>
                                      {{ video_hosted | video_tag: autoplay: true, loop: true, controls: false, muted: true, class:'pointer-events-none', preload: 'metadata', image_size:'300x', data-ignore-pause:"true" }}
                                    </template>  
                                    {{- poster | image_url: width: poster.width | image_tag: loading: 'lazy', fetchpriority: 'auto', sizes: sizes , decoding:"async", class:'video-placeholder', alt:video_alt -}}
                                  </viewport-media>
                                {%- endif -%}
                              {%- elsif image != blank -%}
                                {% render 'responsive-image', image: image, decoding:"async", wrapper_class:'defer-image', sizes: sizes  %}
                            {%- endif -%}
                            <div class="promo-grid__content-info absolute inset-0 flex {{ align_content }} p-14 overlay-media" style="--overlay-color:{{ var_overlay }};">
                              <div class="promo-grid__info-inner z-[2]">
                                  {%- if block.settings.subheading != blank -%}
                                    <p class="sub-heading promo-grid__info--sub">{{ block.settings.subheading }}</p>
                                  {%- endif -%}
                                  {%- if block.settings.heading != blank -%}
                                    <div class="promo-grid__info--heading {{ block.settings.heading_size }}">{{ block.settings.heading }}</div>
                                  {%- endif -%}
                                  {%- if block.settings.text != blank -%}
                                    <div class="promo-grid__info--text rte ">{{ block.settings.text }}</div>
                                  {%- endif -%}
                                  {%- if block.settings.button_label != blank -%}
                                    {%- render 'button',
                                        button_style: block.settings.button_type ,
                                        button_text: block.settings.button_label,
                                        button_url:  block.settings.button_link ,
                                        button_type: 'link',
                                        show_icon: block.settings.show_icon
                                    -%}
                                  {%- endif -%}
                              </div>
                              {%- if  block.settings.button_link != blank -%}
                                <a class="absolute inset-0" aria-label="{{ block.settings.heading_size | escape }}" href="{{ block.settings.button_link }}" tabindex="-1"></a> 
                              {%- endif -%} 
                            </div>
                          </div>
                        </div>
                      </li>
                  {% endcase %}
                {%- endfor -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                {%- capture product_placeholder -%}product-{% cycle '1', '2', '3', '4', '5', '6' %}{%- endcapture -%}
                  {% render 'card-product',
                    card_product: product,
                    section_id: section.id,
                    product_placeholder: product_placeholder,
                    section_width: section_width,
                    columns: columns_desktop,
                    filter_type: filter_type
                  %}
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '', pagination_type: section.settings.pagination_type %}
            {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "RDC Product grid",
  "class": "section",
  "tag": "section",
  "enabled_on": {
    "templates": ["collection"]
  },
  "max_blocks": 5,
  "settings": [
    {
        "type": "select",
        "id": "section_width",
        "label": "Width",
        "options": [
          {
              "value": "container",
              "label": "Container"
          },
          {
              "value": "container-fluid",
              "label": "Stretched"
          },
          {
              "value": "w-full",
              "label": "Full"
          }
        ],
        "default": "container"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 50,
      "step": 2,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Products per row (desktop)"
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "Column gap",
      "default": "12",
      "options": [
        {
          "value": "0",
          "label": "None"
        },
        {
          "value": "4",
          "label": "Extra small"
        },
        {
          "value": "6",
          "label": "Small"
        },
        {
          "value": "8",
          "label": "Medium small"
        },
        {
          "value": "12",
          "label": "Medium"
        },
        {
          "value": "16",
          "label": "Large"
        },
        {
          "value": "24",
          "label": "Extra large"
        }
      ]
    },
    {
      "type": "select",
      "id": "row_gap",
      "label": "Row gap",
      "default": "16",
      "options": [
        {
          "value": "0",
          "label": "None"
        },
        {
          "value": "4",
          "label": "Extra small"
        },
        {
          "value": "6",
          "label": "Small"
        },
        {
          "value": "8",
          "label": "Medium small"
        },
        {
          "value": "12",
          "label": "Medium"
        },
        {
          "value": "16",
          "label": "Large"
        },
        {
          "value": "24",
          "label": "Extra large"
        }
      ]
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "default": "page-numbers",
      "options": [
        {
          "value": "page-numbers",
          "label": "Page numbers"
        },
        {
          "value": "load-more-button",
          "label": "Load more button"
        },
        {
          "value": "infinite-scroll",
          "label": "Infinite scroll"
        }
      ]
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "vertical",
      "label": "Filter type",
      "info": "Drawer is the default mobile layout."
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering",
      "info": "Customize filters with the Search & Discovery app. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/search-and-discovery\/filters)"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "checkbox",
      "id": "show_filter_values_count",
      "label": "Show filter values count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "label": "Show product count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_mode",
      "default": true,
      "label": "Show view mode"
    },
    {
      "type": "select",
      "id": "collapsible_state",
      "label": "Collapsible state",
      "default": "expanded",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "collapsed",
          "label": "Collapsed"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatches",
      "default": true
    },
    {
      "type": "select",
      "id": "filter_color_type",
      "label": "Filter color type",
      "default": "inline",
      "options": [
          {
              "value": "inline",
              "label": "Inline"
          },
          {
              "value": "list",
              "label": "List" 
          }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_block_style",
      "label": "Show block style",
      "default": false
    },
    {
        "type": "text",
        "id": "matching_block_names",
        "label": "Matching block names ",
        "default": "Size",
        "info": "Define block name to which the block will apply styles."
      },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1 Column"
        },
        {
          "value": "2",
          "label": "2 Column"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotion",
      "settings": [
        {
          "type": "range",
          "id": "position",
          "min": 1,
          "max": 50,
          "label": "Position in grid",
          "default": 1
        },
        {
          "type": "select",
          "id": "column_span",
          "label": "Desktop item size",
          "info": "Size is adjusted automatically on smaller screen to improve user experience.",
          "options": [
            {
              "value": "1",
              "label": "1 column"
            },
            {
              "value": "2",
              "label": "2 columns"
            }
          ],
          "default": "1"
        },
        {
          "type": "checkbox",
          "id": "fill_height",
          "label": "Fill height",
          "default": true
        },
        {
          "type": "number",
          "id": "custom_height",
          "label": "Customize height",
          "default": 100,
          "info": "Set the height in %"
        },
        {
						"type": "header",
						"content": "Image"
					},
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 1000px .jpg recommended."
          },
          {
						"type": "header",
						"content": "Video"
					},
					{
						"type": "checkbox",
						"id": "use_video",
						"default": false,
						"label": "Use video instead of image"
					},
					{
						"type": "video",
						"id": "video_hosted",
						"label": "Shopify-hosted video"
					},
          {
						"type": "header",
						"content": "Content"
					},
          {
            "type": "text",
            "id": "subheading",
            "default": "Subheading",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Promote your products",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "h1",
                "label": "Heading 1"
              },
              {
                "value": "h2",
                "label": "Heading 2"
              },
              {
                "value": "h3",
                "label": "Heading 3"
              },
              {
                "value": "h4",
                "label": "Heading 4"
              },
              {
                "value": "h5",
                "label": "Heading 5"
              },
              {
                "value": "h6",
                "label": "Heading 6"
              }
            ],
            "default": "h4"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Button text",
            "label": "Button",
            "info": "Leave the label blank to hide the button."
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Button style",
            "options": [
              { "group": "Primary color","value": "primary","label": "Primary" },
              { "group": "Primary color","value": "outline","label": "Outline" },
              { "group": "Primary color","value": "underlined","label": "Underlined" },
              { "group": "White color","value": "primary-white","label": "Solid White" },
              { "group": "White color","value": "outline-white","label": "Outline White" },
              { "group": "White color","value": "underlined-white","label": "Underlined White" },
              { "group": "Accent color","value": "secondary","label": "Secondary" }
            ],
            "default": "primary-white"
          },
          {
            "type": "checkbox",
            "id": "show_icon",
            "label": "Show arrow icon",
            "default": false
          },
          {
            "type": "select",
            "id": "desktop_content_position",
            "label": "Content position ",
            "options": [
              {"value": "top-left","label": "Top left"},
              {"value": "top-center","label": "Top center"},
              {"value": "top-right","label": "Top right"},
              {"value": "middle-left","label": "Middle left"},
              {"value": "middle-center","label": "Middle center"},
              {"value": "middle-right","label": "Middle right"},
              {"value": "bottom-left","label": "Bottom left"},
              {"value": "bottom-center","label": "Bottom center"},
              {"value": "bottom-right","label": "Bottom right"}
            ],
            "default": "middle-center"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Overlay opacity",
            "default": 0
          },
          {
            "type": "color_background",
            "id": "overlay_gradient",
            "label": "Overlay gradient",
            "default": "linear-gradient(180deg, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.3) 90%)",
            "info": "Overwrite the overlay color."
          }
      ]
    }
  ]
}
{% endschema %}
