{{ 'rdc_concept.css' | asset_url | stylesheet_tag }}

<div class="rdc_concept" id="concept">
  <div class="rdc_part">
    <h1 class="heading">{{ section.settings.title }}</h1>
    <p class="subheading">{{ section.settings.pretitle }}</p>
    <div class="points">
      <div class="point point1">
        <img src="{{ section.settings.point1 | img_url }}"/>
       {{ section.settings.texte }}
      </div>
      <div class="point point2">
        <img src="{{ section.settings.point2 | img_url }}"/>
       {{ section.settings.texte2 }}
      </div>
      <div class="point point3">
        <img src="{{ section.settings.point3 | img_url }}"/>
       {{ section.settings.texte3 }}
      </div>
    </div>
  </div>
 <div class="rdc_part">
   <div class="rdc_contents">
     <a href="https://runesdechene.com/products">
     <div class="rdc_concept_content">
       <img src="{{ section.settings.img1 | img_url:"400x400" }}" />
       <button class="btn btn-outline-white">Les produits</button>
     </div>
     </a>
      <a href="https://explore.runesdechene.com"><div class="rdc_concept_content rdc_concept_content_2">
       <img src="{{ section.settings.img2 | img_url:"400x400" }}" />
       <button class="btn btn-outline-white">L'application</button>
     </div>
        </a>
   </div>
 </div>
</div>

{% schema %}
{
  "name": "RDC Concept",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre"
    },
   {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitre"
    },
    {
      "type": "richtext",
      "id": "texte",
      "label": "Contenu"
    },
    {
      "type": "image_picker",
      "id": "point1",
      "label": "Image du point 1"
    },
    {
      "type": "richtext",
      "id": "texte2",
      "label": "Contenu"
    },
    {
      "type": "image_picker",
      "id": "point2",
      "label": "Image du point 1"
    },
    {
      "type": "richtext",
      "id": "texte3",
      "label": "Contenu"
    },
    {
      "type": "image_picker",
      "id": "point3",
      "label": "Image du point 1"
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image du contenu 1"
    },
     {
      "type": "image_picker",
      "id": "img2",
      "label": "Image du contenu 2"
    }
  ],
  "presets": [
    {
      "name": "RDC Concept",
      "category": "Custom"
    }
  ]
}
{% endschema %}
