{{ 'section-video-with-text-overlay.css' | asset_url | stylesheet_tag }}

{%- liquid
assign fetch_priority = 'auto'
assign loading_image = 'lazy'
if section.index == 1
  assign fetch_priority = 'high'
  assign loading_image = 'eager'
endif

  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  assign class_section = 'video-with-text-overlay'
  assign desktop_height = section.settings.desktop_height
  assign mobile_height = section.settings.mobile_height
  assign desktop_content_position = section.settings.desktop_content_position
  assign mobile_content_position = section.settings.mobile_content_position
  assign color_text = section.settings.color_text
  assign video_url = section.settings.video_url
  assign video_hosted = section.settings.video_hosted
  assign poster = section.settings.image | default: video_hosted.preview_image
  assign video_alt = video_hosted.alt | default: section.settings.description_video
  assign section_width = section.settings.section_width

-%}
{%- capture ratio -%}
  {%- if video_hosted != blank -%}
    --aspect-ratio:{{ video_hosted.aspect_ratio }}; --aspect-ratio-mobile : {{ video_hosted.aspect_ratio }};
  {%- else -%}
    --aspect-ratio:16/9; --aspect-ratio-mobile : 16/9;
  {%- endif -%}
{%- endcapture -%}

{%- capture var_overlay -%}
  {%- if section.settings.overlay_gradient != blank -%}
    {{ section.settings.overlay_gradient }}
  {%- else -%}
   rgba( {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity |  divided_by: 100.0 }} )
  {%- endif -%}
{%- endcapture -%}
{%- capture desktop_height_px -%}
  {%- case desktop_height -%}
    {%- when 'desktop-height-image' -%} auto
    {%- when 'desktop-height-450' -%} 450px
    {%- when 'desktop-height-550' -%} 550px
    {%- when 'desktop-height-650' -%} 650px
    {%- when 'desktop-height-750' -%} 750px
    {%- when 'desktop-height-full' -%} calc(100vh - var(--header-height,0px) + var(--header-height-transparent,0px) - var(--announcement-bar-height,0px))
  {%- endcase -%}
{%- endcapture -%}

{%- capture mobile_height_px -%}
  {%- case mobile_height -%}
    {%- when 'mobile-height-image' -%} auto
    {%- when 'mobile-height-400' -%} 400px
    {%- when 'mobile-height-450' -%} 450px
    {%- when 'mobile-height-500' -%} 500px
    {%- when 'mobile-height-550' -%} 550px
    {%- when 'mobile-height-full' -%} calc(100vh - var(--header-height,0px) + var(--header-height-transparent,0px) - var(--announcement-bar-height,0px))
  {%- endcase -%}
{%- endcapture -%}

{%- capture align_content -%}
  {%- case desktop_content_position -%}
    {%- when 'top-left' -%} sm:items-start sm:justify-start sm:text-left
    {%- when 'top-center' -%} sm:items-start sm:justify-center sm:text-center
    {%- when 'top-right' -%} sm:items-start sm:justify-end sm:text-right
    {%- when 'middle-left' -%} sm:items-center sm:justify-start sm:text-left
    {%- when 'middle-center' -%} sm:items-center sm:justify-center sm:text-center
    {%- when 'middle-right' -%} sm:items-center sm:justify-end sm:text-right
    {%- when 'bottom-left' -%} sm:items-end sm:justify-start sm:text-left
    {%- when 'bottom-center' -%} sm:items-end sm:justify-center sm:text-center
    {%- when 'bottom-right' -%} sm:items-end sm:justify-end sm:text-right
    {%- else -%} sm:items-center sm:justify-center sm:text-center
  {%- endcase -%}
{% endcapture %}
{%- capture mobile_align_content -%}
  {%- case mobile_content_position -%}
    {%- when 'top-left' -%} items-start justify-start
    {%- when 'top-center' -%} items-start justify-center text-center
    {%- when 'top-right' -%} items-start justify-end text-right
    {%- when 'middle-left' -%} items-center justify-start
    {%- when 'middle-center' -%} items-center justify-center text-center
    {%- when 'middle-right' -%} items-center justify-end text-right
    {%- when 'bottom-left' -%} items-end justify-start
    {%- when 'bottom-center' -%} items-end justify-center text-center
    {%- when 'bottom-right' -%} items-end justify-end text-right
    {%- else -%} items-center justify-center text-center
  {%- endcase -%}
{%- endcapture -%}

{%- capture align_inner -%}
  {%- if mobile_content_position == 'top-center' or mobile_content_position == 'middle-center' or mobile_content_position == 'bottom-center' %}
    justify-center
  {%- elsif mobile_content_position == 'top-left' or mobile_content_position == 'middle-left' or mobile_content_position == 'bottom-left' %}
    justify-start
  {%- elsif mobile_content_position == 'top-right' or mobile_content_position == 'middle-right' or mobile_content_position == 'bottom-right' %}
      justify-end
  {%- endif -%}
  {%- if desktop_content_position == 'top-center' or desktop_content_position == 'middle-center' or desktop_content_position == 'bottom-center' %}
    sm:justify-center
  {%- elsif desktop_content_position == 'top-left' or desktop_content_position == 'middle-left' or desktop_content_position == 'bottom-left' %}
    sm:justify-start
  {%- elsif desktop_content_position == 'top-right' or desktop_content_position == 'middle-right' or desktop_content_position == 'bottom-right' %}
      sm:justify-end
  {%- endif -%}
{%- endcapture -%}


<div class="{{ class_section }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} overflow-hidden">
  <div class="{{ section_width }}">
    <div class="relative {% if section_width != 'w-full' %} global-radius {% endif %}">
    <div class="{{ class_section }}__media w-full {{ desktop_height }} {{ mobile_height }} relative  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" style="--desktop-height-image:{{ desktop_height_px}};--mobile-height-image:{{ mobile_height_px }};--image-overlay:{{ var_overlay }};{{ ratio }};">
      <viewport-media class="{{ class_section }}__video block">  
            {%- if video_hosted == null and video_url != null -%}
              <template>
                {%- if video_url.type == 'youtube' -%}
                      <iframe class="video-iframe" data-src="https://www.youtube.com/embed/{{ video_url.id }}?loop=1&autoplay=1&mute=1&playlist={{ video_url.id }}&iv_load_policy=3&disablekb=1&controls=0&playsinline=1&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen  title="{{ section.settings.description_video | escape }}" tabindex="-1" data-ignore-pause="true">
                      </iframe>
                {%- else -%}
                    <iframe class="video-iframe" data-src="https://player.vimeo.com/video/{{ video_url.id }}?background=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen  title="{{ section.settings.description_video | escape }}" tabindex="-1" data-ignore-pause="true">
                    </iframe>
                {%- endif -%}
              </template>
            {%- else -%}
                {%- if video_hosted != blank -%}
                  <template>
                    {{ video_hosted | video_tag: autoplay: true, loop: true, controls: false, muted: true, class:'pointer-events-none', class:'video-playsinline', preload: 'metadata', image_size:'800x', data-ignore-pause:"true" }}
                  </template>
                {%- else -%}
                    <video class="video-playsinline" src="https://cdn.shopify.com/videos/c/o/v/00870923cec84b31bfc838bd80c6799d.mp4" playsinline="" autoplay="" muted="" loop="" preload="metadata" data-ignore-pause="true" ></video> 
                {%- endif -%}
            {%- endif -%}

         {%- if poster != blank  -%}
          {{- poster | image_url: width: poster.width | image_tag: loading: loading_image, fetchpriority: fetch_priority, sizes: full_width, widths: widths , decoding:"async", class:'video-placeholder', alt:video_alt -}}
        {%- endif -%} 
        
      </viewport-media>
    </div>
  <div class="{{ class_section }}__content absolute inset-0 
  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    
    <div class="container flex {{ align_content }} {{ mobile_align_content }} h-full" style="{%- if color_text != blank -%}--color-heading:{{ color_text.rgb }};--color-foreground:{{ color_text.rgb  }}{%- endif -%}" >
      {%- if section.settings.link != blank -%}
        <a href="{{ section.settings.link }}" class="{{ class_section }}__link absolute inset-0 !block" style="z-index: 1;" aria-hidden="true" tabindex="-1"></a>
      {%- endif -%}
      <div class="{{ class_section }}__box {{ section.settings.content_width }}">
      {% assign skip_block = 0 %}
      {%- for block in section.blocks -%}
        {%- liquid
        if skip_block > 0
          assign skip_block = skip_block | minus: 1
          continue
        endif
      -%}
        {%- case block.type -%}
            {%- when 'subheading' -%}
              {% if block.settings.subheading != blank %}
                <p class="{{ class_section }}__subheading sub-heading {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
                >{{ block.settings.subheading }}</p>
              {% endif %}
            {%- when 'heading' -%}
              {% assign heading_tag = block.settings.heading_tag | default: 'h2' %}
              <{{ heading_tag }}
                class="{{ class_section }}__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </{{ heading_tag }}>
            {%- when 'text' -%}
              <div
                class="{{ class_section }}__text rte{% if block.settings.large_text %} body-1 {% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            
            {%- when 'buttons' -%}
              {%- liquid
                  assign skip_block = 0
              -%}
              <div
                class="{{ class_section }}__buttons {{ class_section }}__buttons--multiple flex flex-wrap items-center gap-y-6 gap-x-8 {{ align_inner }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                  {%- if block.settings.button_label != blank -%}
                    {%- render 'button',
                      button_style: block.settings.button_type,
                      button_text: block.settings.button_label,
                      button_url:  block.settings.button_link,
                      button_type: 'link',
                      show_icon: block.settings.show_icon
                  -%}
                  {%- endif -%}
                  {%- for next_block in section.blocks offset: forloop.index -%}
                    {%- if next_block.type == 'buttons' -%}
                      {%- assign skip_block = skip_block | plus: 1 -%}
                        {%- if next_block.settings.button_label != blank -%}
                          {%- render 'button',
                              button_style: next_block.settings.button_type,
                              button_text: next_block.settings.button_label,
                              button_url:  next_block.settings.button_link,
                              button_type: 'link',
                              show_icon: next_block.settings.show_icon
                          -%}
                        {%- endif -%}
                    {%- else -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
              </div>
              {% when 'icon' %}
                <div class="{{ class_section }}__icon rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}>
                    {% render 'icon-svg', icon: block.settings.icon %}
                </div>
              {% when 'image' %}
                {%- assign width_desktop = block.settings.image_width | append: 'px' -%}
                {%- assign width_mobile = block.settings.image_width_mobile | append: 'px' -%}
                {%- capture sizes -%}(min-width: 480px) {{ width_desktop }}, {{ width_mobile }}{%- endcapture -%}

                <div class="{{ class_section }}__image {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
                >
                  <div class="{{ class_section }}__image-inner inline-block" style="--width-image: {{ width_desktop }}; --width-image-mobile: {{ width_mobile}};">
                    {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                    {% if block.settings.image != blank %}
                      {% render 'responsive-image', image: block.settings.image, sizes: sizes %}
                    {% else  %}
                      {% render 'placeholder-image', image_placeholder : 'image' %}
                    {% endif %}
                    {% if block.settings.url != blank %}</a>{% endif %}
                  </div>
                </div>
                {%- when 'countdown_timer' -%}
                  {%- if block.settings.end_time != blank -%}
                    {%- capture font_family -%}
                      {%- if block.settings.font_family == 'body' -%}
                        font-body
                      {%- elsif block.settings.font_family == 'heading' -%}
                        font-heading
                      {%- endif -%}
                    {%- endcapture -%}
                    {%- assign number_size = block.settings.number_size -%}
                    <div class="{{ class_section }}__countdown rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"  {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}>
                      <count-down data-timer="{{ block.settings.end_time }}">
                          <ul class="countdown !pl-0 flex gap-x-8 countdown-{{ block.settings.style }} {{ align_inner }}">
                              <li data-value="days">
                                 <span class="countdown-number countdown-day {{ number_size }} {{ font_family }}">0</span>
                                 <span class="countdown-text">
                                  {%- if block.settings.text_type == 'short' -%}
                                    {{ 'sections.countdown.days_short' | t }}
                                  {%- else -%}
                                    {{ 'sections.countdown.days' | t }}
                                  {%- endif -%}
                                  </span> 
                              </li>
                              <li data-value="hours">
                                  <span class="countdown-number countdown-hour {{ number_size }} {{ font_family }}">0</span>
                                  <span class="countdown-text">
                                    {%- if block.settings.text_type == 'short' -%}
                                      {{ 'sections.countdown.hours_short' | t }}
                                    {%- else -%}
                                      {{ 'sections.countdown.hours' | t }}
                                    {%- endif -%}
                                  </span> 
                              </li>
                              <li data-value="minutes">
                                  <span class="countdown-number countdown-minute {{ number_size }} {{ font_family }}">0</span>
                                  <span class="countdown-text">
                                    {%- if block.settings.text_type == 'short' -%}
                                      {{ 'sections.countdown.minutes_short' | t }}
                                    {%- else -%}
                                      {{ 'sections.countdown.minutes' | t }}
                                    {%- endif -%}
                                  </span>
                              </li>
                              <li data-value="seconds">
                                  <span class="countdown-number countdown-second {{ number_size }} {{ font_family }}">0</span>
                                  <span class="countdown-text">
                                    {%- if block.settings.text_type == 'short' -%}
                                      {{ 'sections.countdown.seconds_short' | t }}
                                    {%- else -%}
                                      {{ 'sections.countdown.seconds' | t }}
                                    {%- endif -%}
                                  </span>
                              </li>
                          </ul>
                      </count-down>
                    </div>
                  {%- endif -%}
              {%- when 'separator' -%}
                {% assign space = block.settings.space |  append: 'px' %}
                <div class="{{ class_section }}__separator" style="--space : {{ space }}" {{ block.shopify_attributes }}>
                  {% if block.settings.show_border  %} <hr class="border-t"  /> {% endif %}
                </div>
          {%- endcase -%}
      {%- endfor -%}
      </div>
    </div>
  </div>
  </div>
</div>
</div>
{% schema %}
{
  "name": "Video with text overlay",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Stretched"
        },
        {
          "value": "w-full",
          "label": "Full width"
        }
      ],
      "default": "w-full"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "video_hosted",
      "label": "Shopify-hosted video",
      "info": "Overrides the External video URL field."
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "External video",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
      "info": "Accepts YouTube and Vimeo URLs."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Poster image",
      "info": "1920x1080 .jpg recommended. If image blank, Shopify-hosted video will use the preview image."
    },
    {
      "type": "text",
      "id": "description_video",
      "label": "Video alt text",
      "info": "Describe the video for customers using screen readers."
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "Desktop height",
      "options": [
        {"value": "desktop-height-image","label": "Adapt to image"},
        {"value": "desktop-height-450","label": "450px"},
        {"value": "desktop-height-550","label": "550px"},
        {"value": "desktop-height-650","label": "650px"},
        {"value": "desktop-height-750","label": "750px"},
        {"value": "desktop-height-full","label": "Full screen"} 
      ],
      "default": "desktop-height-650"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile height",
      "options": [
        {"value": "mobile-height-image","label": "Adapt to image"},
        {"value": "mobile-height-400","label": "400px"},
        {"value": "mobile-height-450","label": "450px"},
        {"value": "mobile-height-500","label": "500px"},
        {"value": "mobile-height-550","label": "550px"},
        {"value": "mobile-height-full","label": "Full screen"} 
      ],
      "default": "mobile-height-500"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Desktop Content position ",
      "options": [
        {"value": "top-left","label": "Top left"},
        {"value": "top-center","label": "Top center"},
        {"value": "top-right","label": "Top right"},
        {"value": "middle-left","label": "Middle left"},
        {"value": "middle-center","label": "Middle center"},
        {"value": "middle-right","label": "Middle right"},
        {"value": "bottom-left","label": "Bottom left"},
        {"value": "bottom-center","label": "Bottom center"},
        {"value": "bottom-right","label": "Bottom right"}
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "label": "Mobile content position ",
      "options": [
        {"value": "top-left","label": "Top left"},
        {"value": "top-center","label": "Top center"},
        {"value": "top-right","label": "Top right"},
        {"value": "middle-left","label": "Middle left"},
        {"value": "middle-center","label": "Middle center"},
        {"value": "middle-right","label": "Middle right"},
        {"value": "bottom-left","label": "Bottom left"},
        {"value": "bottom-center","label": "Bottom center"},
        {"value": "bottom-right","label": "Bottom right"}
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "max-w-3xl",
          "label": "Small"
        },
        {
          "value": "max-w-4xl",
          "label": "Normal"
        },
        {
          "value": "max-w-5xl",
          "label": "Large"
        },
        {
          "value": "w-full",
          "label": "Container"
        }
      ],
      "default": "max-w-4xl"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default":"#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "overlay_gradient",
      "label": "Overlay gradient",
      "default": "linear-gradient(180deg, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.3) 90%)"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 70
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Video Text Overlay",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
              {
                  "value": "h1",
                  "label": "H1"
              },
              {
                  "value": "h2",
                  "label": "H2"
              },
              {
                  "value": "h3",
                  "label": "H3"
              },
              {
                  "value": "h4",
                  "label": "H4"
              },
              {
                  "value": "h5",
                  "label": "H5"
              },
              {
                  "value": "h6",
                  "label": "H6"
              },
              {
                  "value": "p",
                  "label": "Paragraph"
              },
              {
                  "value": "div",
                  "label": "Div"
              }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "hxl",
              "label": "Heading xl"
            },
            {
              "value": "h0",
              "label": "Heading 0"
            },
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "h6",
              "label": "Heading 6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading",
          "label": "Subheading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details onavailability, style, or even provide a review.</p>",
          "label": "Content"
        },
        {
          "type": "checkbox",
          "id": "large_text",
          "label": "Large text",
          "default": false
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button text",
          "label": "Button",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button style",
          "options": [
            { "group": "Primary color","value": "primary","label": "Primary" },
            { "group": "Primary color","value": "outline","label": "Outline" },
            { "group": "Primary color","value": "underlined","label": "Underlined" },
            { "group": "White color","value": "primary-white","label": "Solid White" },
            { "group": "White color","value": "outline-white","label": "Outline White" },
            { "group": "White color","value": "underlined-white","label": "Underlined White" },
            { "group": "Accent color","value": "secondary","label": "Secondary" }
          ],
          "default": "primary-white"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show arrow icon",
          "default": false
        }
      ]
    },
    {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "apple",
              "label": "Apple"
            },
            {
              "value": "banana",
              "label": "Banana"
            },
            {
              "value": "bottle",
              "label": "Bottle"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "carrot",
              "label": "Carrot"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_circle",
              "label": "Check circle"
            },
            {
              "value": "clipboard",
              "label": "Clipboard"
            },
            {
              "value": "dairy",
              "label": "Dairy"
            },
            {
              "value": "dairy_free",
              "label": "Dairy free"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "fire",
              "label": "Fire"
            },
            {
              "value": "gluten_free",
              "label": "Gluten free"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "global",
              "label": "Global"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lightning_bolt",
              "label": "Lightning bolt"
            },
            {
              "value": "lipstick",
              "label": "Lipstick"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "nut_free",
              "label": "Nut free"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "paw_print",
              "label": "Paw print"
            },
            {
              "value": "pepper",
              "label": "Pepper"
            },
            {
              "value": "perfume",
              "label": "Perfume"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "plant",
              "label": "Plant"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "recycle",
              "label": "Recycle"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "serving_dish",
              "label": "Serving dish"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "snowflake",
              "label": "Snowflake"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "stopwatch",
              "label": "Stopwatch"
            },
            {
              "value": "sheild",
              "label": "Sheild"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "washing",
              "label": "Washing"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            }
          ],
          "default": "check_mark",
          "label": "Icon"
        }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width (desktop)",
            "default": 260
          },
          {
            "type": "range",
            "id": "image_width_mobile",
            "min": 60,
            "max": 500,
            "step": 10,
            "unit": "px",
            "label": "Image width (moible)",
            "default": 200
          }
        ]
      },
      {
        "type": "countdown_timer",
        "name": "Countdown timer",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "end_time",
            "label": "End time",
            "default": "2025/12/31 23:59:59",
            "info": "Date format: YYYY/MM/DD HH:MM:SS"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "highlight",
            "options": [
                {
                    "value": "highlight",
                    "label": "Highlight"
                },
                {
                    "value": "simple",
                    "label": "Simple"
                }
            ]
          },
          {
            "type": "select",
            "id": "font_family",
            "label": "Font family",
            "default": "heading",
            "options": [
                {
                    "value": "body",
                    "label": "Body"
                },
                {
                    "value": "heading",
                    "label": "Heading"
                }
            ]
          },
          {
            "type": "select",
            "id": "number_size",
            "label": "Number size",
            "default": "h4",
            "options": [
                {
                    "value": "h1",
                    "label": "Heading 1"
                },
                {
                    "value": "h2",
                    "label": "Heading 2"
                },
                {
                    "value": "h3",
                    "label": "Heading 3"
                },
                {
                    "value": "h4",
                    "label": "Heading 4"
                },
                {
                    "value": "h5",
                    "label": "Heading 5"
                },
                {
                    "value": "h6",
                    "label": "Heading 6"
                }
            ]
          },
          {
            "type": "select",
            "id": "text_type",
            "label": "Text type",
            "default": "long",
            "options": [
                {
                    "value": "long",
                    "label": "Long"
                },
                {
                    "value": "short",
                    "label": "Short"
                }
            ]
          }
        ]
      },
      {
        "type": "separator",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_border",
            "label": "Show border",
            "default": false
          },
          {
            "type": "range",
            "id": "space",
            "label": "Space",
            "min": 0,
            "max": 64,
            "step": 1,
            "default": 24
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Video with text overlay",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "separator",
          "settings": {
            "show_border": false,
            "space": 4
          }
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
